# Auto detect text files and perform LF normalization
* text=auto

# Force LF for source and text assets (working tree + repo)
*.h text eol=lf
*.cpp text eol=lf
*.c text eol=lf
*.hpp text eol=lf
*.inl text eol=lf
*.cs text eol=lf
*.Build.cs text eol=lf
*.Target.cs text eol=lf
*.csproj text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.uplugin text eol=lf

# Binary
*.uasset binary
*.umap binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.dll binary
*.exe binary
*.pdb binary
*.lib binary
